<div class="comments">
  <div id="disqus_thread">
    <p class="comment-tips">国内查看评论需要代理~</p>
  </div>
  <script>
    window.disqus_config = function () {
      this.language = 'zh';
      this.page.url = '<%= page.permalink %>';
      this.page.title = '<%= page.title %>';
      this.page.identifier = '<%= page.path %>';
    };
    (function () { // DON'T EDIT BELOW THIS LINE
      var d = document, s = d.createElement('script');
      s.src = '/js/embed.js';
      s.setAttribute('data-timestamp', +new Date());
      (d.head || d.body).appendChild(s);
    })();
  </script>
</div>
