<footer class="footer">
  <a target="_blank" href="https://www.alonehero.com/">明忠的blog</a>,
  <a target="_blank" href="https://www.cnblogs.com/cnblogs-jcy/">老纪的blog</a>,
  <a target="_blank" href="http://www.zsfamily.cn/">张森的blog</a>,
  <a target="_blank" href="https://kenthigh.github.io/">亚嵩的blog</a>,
  <a target="_blank" href="https://coolshell.cn/">Cool Shell</a>,
  <a target="_blank" href="https://scar007.github.io/">佳睿的blog</a>,
  <a target="_blank" href="http://paulgraham.com">Paul Graham</a>,
  <a target="_blank" href="https://search.google.com/search-console?resource_id=https%3A%2F%2Flihongbin.xyz%2F">google search</a>
</footer>
<div style="
    text-align: center;
">
  <a target="_blank" href="http://www.beian.miit.gov.cn" style="
    font-size: 12px;
">京ICP备18057842号-1</a>
</div>
<% if( theme.qqmta.sid ) { %>
<script>
  //腾讯云分析
  var _mtac = {};
  (function () {
    var mta = document.createElement("script");
    mta.src = "//pingjs.qq.com/h5/stats.js?v2.0.4";
    mta.setAttribute("name", "MTAH5");
    mta.setAttribute("sid", "<%= theme.qqmta.sid %>");

    var s = document.getElementsByTagName("script")[0];
    s.parentNode.insertBefore(mta, s);
  })();
</script>
<% } %>

